<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <style>
    #container {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    </style>
</head>
<body>
    <div id="container" style="min-width: 310px; margin: 0 auto"></div>

    <script type="text/javascript">
        function convert_timestamp(date){
            return new Date(date).getTime();
        }

    $.getJSON('/stock/s/{{ strategy }}/{{ code }}', function (datas) {
        var balance_history = datas[0];
        var buy_history = datas[1];
        var sell_history = datas[2];

        var balance = [];
        var buy_point = [];
        var sell_point = [];
        var ma_5 = [];
        var ma_20 = [];

        var ohlc = [];

        for (var i = 0 ; i < balance_history.length; i += 1) {
            var data = balance_history[i];
            var date = convert_timestamp(data.date);
            balance.push([date, data.balance]);
            ohlc.push([date, data.open, data.high, data.low, data.close]);
            ma_5.push([date, data.ma_5]);
            ma_20.push([date, data.ma_20]);
        }

        for (var i = 0; i < buy_history.length; i += 1 ){
            var data = buy_history[i];
            var date = convert_timestamp(data.date);
            buy_point.push({
                x: date,
                title: '매수:' + data.count,
                text: 'Shape: "circlepin"'
            });
        }

        for (var i=0; i< sell_history.length; i += 1){
            var data = sell_history[i];
            var date = convert_timestamp(data.date);
            sell_point.push({
                x: date,
                title: '매도:' + data.count,
                text: 'Shape: "circlepin"'
            });
        }

        $(document).ready(function () {
            Highcharts.stockChart('container', {
                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'OHLC'
                    },
                    height: '60%',
                    lineWidth: 2
                }, {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Balance'
                    },
                    top: '65%',
                    height: '35%',
                    offset: 0,
                    lineWidth: 2
                }],

                series: [{
                    id: 'balacne',
                    name: 'balance',
                    data: balance,
                    yAxis: 1
                },{
                    type: 'candlestick',
                    id: 'ohlc',
                    name: 'ohlc',
                    data: ohlc
                },{
                    name: 'ma_5',
                    data: ma_5
                },{
                    name: 'ma_20',
                    data: ma_20
                },{
                    type: 'flags',
                    data: buy_point,
                    onSeries: 'ohlc',
                    shape: 'squarepin',
                    width: 16
                },{
                    type: 'flags',
                    data: sell_point,
                    onSeries: 'ohlc',
                    shape: 'squarepin',
                    width: 16
                },
                ]
            });
        });
    });
    </script>
</body>
</html>