<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
<body>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">
    $.getJSON('/stock/s/{{ strategy }}/{{ code }}', function (datas) {
        var balance_history = datas[0];
        var buy_history = datas[1];
        var sell_history = datas[2];

        var adj_close = [];
        var balance = [];
        var close = [];
        var buy_point = [];
        var sell_point = [];

        for (var i = 0 ; i < balance_history.length; i += 1) {
            var data = balance_history[i];
            balance.push([data.date, data.balance]);
            adj_close.push([data.date, data.adj_close]);
            close.push([data.date, data.close]);
        }

        for (var i = 0; i < buy_history.length; i += 1 ){
            var data = buy_history[i];
            buy_point.push({
                x: data.date,
                title: '매수',
                text: 'Shape: "circlepin"'
            });
        }

        for (var i=0; i< sell_history.length; i += 1){
            var data = sell_history[i];
            sell_point.push({
                x: data.date,
                title: '매도',
                text: 'Shape: "circlepin"'
            });
        }



        $(document).ready(function () {
            Highcharts.stockChart('container', {
                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'OHLC'
                    },
                    height: '60%',
                    lineWidth: 2
                }, {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '65%',
                    height: '35%',
                    offset: 0,
                    lineWidth: 2
                }],

                series: [{
                    id: 'balacne',
                    name: 'balance',
                    data: balance
                },{
                    name: 'adj_close',
                    data: adj_close,
                    yAxis: 1
                },{
                    name: 'close',
                    data: close,
                    yAxis: 1
                },{
                    type: 'flags',
                    data: buy_point,
                    onSeries: 'balacne',
                    shape: 'squarepin',
                    width: 16
                },{
                    type: 'flags',
                    data: sell_point,
                    onSeries: 'balacne',
                    shape: 'squarepin',
                    width: 16
                },
                ]
            });
        });
    });
    </script>
</body>
</html>